/* HEADER */
div.header {
	border:none;
	text-align:center;
	background:#EDEDED;
	padding:0px;
	margin:0px;
}
div.header .logo {
	margin:20px 0px 0px 0px;
	padding:0px;
}


/* MAIN */
div.main-content {
	padding-top:0px;
}
div.node-menu-esquerra {
	display:none;
}
div.block-views {
	margin-top:0px;
}
h2.title {
	font-size:16px;
}


/* FIELDS */
div.content .field-type-image img {
	width:100%;
}
div.field-name-field-back-button {
	display:none;
}
div.arxius-adjunts {
	margin-top:20px;
	margin-bottom:20px;
}
div.arxius-adjunts legend {
	font-weight:bold;
}
div.arxius-adjunts .fieldset-wrapper {
	margin-top:10px;
}




/* FOOTER */
div.footer .content {
	margin-left:10px;
	margin-right:10px;
	padding:0px;
}
