/**
 * @file
 * Form Styling
 */


.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit /* The submit button */ {
  background:url(../images/boto-back-button.png) top left;
  font-weight:bold;
  font-size:13px;
  padding:4px 8px 4px 8px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.form-submit:hover {
  background:url(../images/boto-back-button-selec.png) top left;
  color:#FFFFFF;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form /* Wrapper for the search form */ {
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}



/* WEBFORMS */

/* SALA DE PREMSA */
#webform-client-form-221,
#webform-client-form-736 {
  margin:0px 0px 50px 0px;
  padding:10px;
  background:#FFFFFF;
}
#webform-client-form-221 .webform-component,
#webform-client-form-736 .webform-component {
  margin:0px 20px 20px 0px;
  float:left;
}
#webform-client-form-221 .webform-component #webform-component-correu-electronic,
#webform-client-form-736 .webform-component #webform-component-correu-electronic {
  margin-right:0px;
}
#webform-client-form-221 .form-actions,
#webform-client-form-736 .form-actions {
  clear:both;
  float:none;
  margin:0px;
}




/* COLORBOX WEBFORM -> cboxWrapper, cboxNode, cboxNodeWrapper */
#cboxLoadedContent {
	background:none;
}
#cboxWrapper {
	padding:0px;
	margin:0px;
}
#cboxNode {
	overflow:hidden;
	padding:0px;
	margin:0px;
}
#cboxNode  {
	height:600px;
}

#cboxNode form,
#cboxNode div.content {
	background:#E4E2DA;
}
#cboxNode div.content {
	border:8px solid #BCB4A1;
	padding:10px;
	min-height:200px;
}
#cboxNode .webform-component {
	margin:0px 20px 20px 0px;
	float:left;	
	.margin:0px 20px 10px 0px;
	.height:60px;
}
#cboxNode #webform-component-sala-de-premsa p {
	text-transform:uppercase;
/*  color:#7e94c7;	*/
	color:#7D93C7;
	font-weight:bold;
	font-size:20px;
}
#cboxNode #webform-component-sala-de-premsa,
#cboxNode #webform-component-correu-electronic,
#cboxNode .form-actions {
	clear:both;
	float:none;
}
#cboxNode #webform-component-vull-rebre-comunicats-sobre .form-item {
	display:inline;
}
#cboxNode #cboxSubmit {
	margin:10px 0px 0px 0px;
}
#cboxNode div.ajax-progress-throbber {
	width:200px;
}

