/**
 * @file
 * Navigation Styling
 */

/* NEGRE: #1A171B 	*/
/* BLAU:  #7D93C7 	*/
/* TARONJA: #FAB700 */
/* BLAU FORT:  #386ba7 	*/


/* NICE MENU */

ul.nice-menu-down {
  float:left;
  z-index:20;
}
ul.nice-menu-down a {
  color:#1A171B;
  text-decoration:none;
}
ul.nice-menu-down li,
ul.nice-menu-down li.menuparent {
  background:#FFFFFF;
  border:none;
  float:left;
  margin:0px;
  padding:0px;
  margin-right:7px;
  height:28px;
}
ul.nice-menu-down li.last,
ul.nice-menu-down li.menuparent.last {
  margin-right:0px;
}
ul.nice-menu-down li a,
ul.nice-menu-down li.menuparent a {
  font-size:16px;
  background:url(../images/boto-menu-fondo.png) left top repeat-x;
  padding:5px 13px 5px 13px;
/*  .padding:5px 11px 5px 11px;	*/

  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}




/* HOVER i ACTIVE */
ul.nice-menu-down li:hover,
ul.nice-menu-down li.menuparent:hover {
  background:none;	
}
ul.nice-menu-down li.active-trail a,
ul.nice-menu-down li a:hover,
ul.nice-menu-down li.menuparent a:hover,
ul.nice-menu-down li a.active,
ul.nice-menu-down li.menuparent a.active {
  background:url(../images/boto-menu-fondo-selec.png) left top repeat-x;
  color:#FFFFFF;
}



/* DESPLEGABLES */
ul.nice-menu-down li li {
  background:#c8c8c1;
}
ul.nice-menu-down li li:hover {
  background:url(../images/boto-submenu-fondo-selec.png) left top repeat-x;
}
ul.nice-menu-down li li a,
ul.nice-menu-down li.menuparent li a,
ul.nice-menu-down li li a:hover,
ul.nice-menu-down li.menuparent li a:hover {
  background:none;
  padding:5px;
}
ul.nice-menu-down ul {
  left: 0; /* LTR */
  top:28px;
  border:none;
}
ul.nice-menu-down ul li {
  clear: both;
  border-top:1px solid #FFFFFF;
  width:200px;
  padding-left:5px;
}
ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}
ul.nice-menu-down li ul li.active-trail {
  background:url(../images/boto-submenu-fondo-selec.png) left top repeat-x;
  color:#FFFFFF;	
}
ul.nice-menu-down li.active-trail ul li a {
  background:none;
  color:#1A171B;	
}








/* BLOCK MENU */
/* SUBMENU SECUNDARI --> block-menu-block-2 */
#block-menu-block-1 ul.menu {
  margin:0px;
  padding:0px;
  padding-left:10px;
  height:20px;
}
#block-menu-block-1 ul.menu li {
  display:inline;
  margin:0px;
  list-style-type:none;
  line-height:40px;
  padding:0px;
  background:url(../images/linea_menu.gif) right repeat-y;
}
#block-menu-block-1 ul.menu li a {
  padding-left:15px;
  padding-right:15px;
  color:#939598;
}
#block-menu-block-1 ul.menu li.first a {
  padding-left:0px;
}
#block-menu-block-1 ul.menu li.last {
  background:none;
}
#block-menu-block-1 ul.menu li a.active-trail,
#block-menu-block-1 ul.menu li a:hover {
  color:#231F20;
  text-decoration:none;
}




/* DISTRIBUCIÓN HORIZONTAL DEL MENÚ */
ul.nice-menu-down {
	text-align: justify !important;
	width:100% !important;
	height: 25px !important;
}
ul.nice-menu-down li {
	display:inline-block !important;
	float:none !important;
	margin:0px !important;
}
ul.nice-menu-down:after {
	content: "" !important;
   	width: 100% !important;
   	display: inline-block !important;
}
